= render partial: 'layouts/header_wrapper', locals: {title: Application.model_name.human(count: 2), buttons: [{title: t('create'), href: new_application_path, class: 'btn-primary'}]}
        
.container
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  - @applications.each do |application|
    .card
      .card-header
        = application.name

        %span.btn-group.btn-group-sm.float-xs-right
          = link_to t('configure'), application_path(application), class: 'btn btn-primary'
          = link_to t('delete'), application_path(application), method: :delete, class: 'btn btn-danger'
