= render partial: 'layouts/header_wrapper', locals: {title: t('create_entity', entity: Application.model_name.human), buttons: [{title: t('back'), href: applications_path, class: 'btn-secondary'}]}
    
.container
  = form_for :application, url: applications_path do |f|
    = validation_for 'form-group', :name, params[f.object_name.to_sym], @errors do
      = f.label :name, Application.human_attribute_name(:name), {class: 'form-control-label'}
      .input-group
        = f.text_field :name, class: form_control_for(:name, params[f.object_name.to_sym], @errors), value: value_for(:name, f)
        .input-group-addon
          = Application.url_suffix
          
    = f.submit t('create'), class: 'form-control btn btn-primary'
