= render partial: 'layouts/header_wrapper', locals: {title: t('dashboard'), buttons: [{title: t('back'), href: applications_path, class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do  
  .card
    .card-header
      = t '.urls'
    %ul.list-group.list-group-flush
      - @application.domains.each do |domain|
        - domain.urls.each do |url|
          %li.list-group-item
            = url
            %a.float-xs-right{href: url}
              = t '.visit'
  .card
    .card-header
      = t '.status'
    %ul.list-group.list-group-flush
      %li.list-group-item
        = t '.web_server'
        %span.tag.tag-success.float-xs-right
          = t '.online'
      %li.list-group-item
        = t '.database_server'
        %span.tag.tag-success.float-xs-right
          = t '.online'
      %li.list-group-item
        = t '.ftps_server'                
        %span.tag.tag-success.float-xs-right
          = t '.online'

= render partial: 'layouts/content_wrapper'
