= render partial: 'layouts/header_wrapper', locals: {title: t('edit_entity', entity: DatabaseUser.model_name.human), buttons: [{title: t('back'), href: application_database_user_path(@application, @database_user), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = form_for :database_user, url: application_database_user_path(@application, @database_user), method: :patch do |f|
    = validation_for 'form-group', :password, params[f.object_name.to_sym], @errors do
      = f.label :password, DatabaseUser.human_attribute_name(:password), {class: 'form-control-label'}
      = f.password_field :password, class: form_control_for(:password, params[f.object_name.to_sym], @errors), value: value_for(:password, f)

    = validation_for 'form-group', :password_confirmation, params[f.object_name.to_sym], @errors do
      = f.label :password_confirmation, DatabaseUser.human_attribute_name(:password_confirmation), {class: 'form-control-label'}
      = f.password_field :password_confirmation, class: form_control_for(:password_confirmation, params[f.object_name.to_sym], @errors), value: value_for(:password_confirmation, f)

    = f.submit t('save'), class: 'form-control btn btn-primary'

= render partial: 'layouts/content_wrapper'
