= render partial: 'layouts/header_wrapper', locals: {title: DatabaseUser.model_name.human, buttons: [{title: t('back'), href: application_path(@application), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  .card
    .card-header
      = @database_user.username
     
      %span.btn-group.btn-group-sm.float-xs-right
        = link_to t('edit'), edit_application_database_user_path(@application, @database_user), class: 'btn btn-warning'
  
= render partial: 'layouts/content_wrapper'
