= render partial: 'layouts/header_wrapper', locals: {title: SslCertificate.model_name.human(count: 2), buttons: [{title: t('create'), href: new_application_ssl_certificate_path, class: 'btn-primary'}, {title: t('back'), href: application_path(@application), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  - @ssl_certificates.each do |ssl_certificate|
    .card
      .card-header
        = ssl_certificate.name

        %span.btn-group.btn-group-sm.float-xs-right    
          = link_to t('delete'), application_ssl_certificate_path(@application, ssl_certificate), method: :delete, class: 'btn btn-danger'

= render partial: 'layouts/content_wrapper'
