= render partial: 'layouts/header_wrapper', locals: {title: t('create_entity', entity: SslCertificate.model_name.human), buttons: [{title: t('back'), href: application_ssl_certificates_path, class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = form_for :ssl_certificate, url: application_ssl_certificates_path do |f|
    = validation_for 'form-group', :name, params[f.object_name.to_sym], @errors do
      = f.label :name, SslCertificate.human_attribute_name(:name), {class: 'form-control-label'}
      .input-group
        .input-group-addon
          = @application.prefix('_', true)
        = f.text_field :name, class: form_control_for(:name, params[f.object_name.to_sym], @errors), value: value_for(:name, f)

    = validation_for 'form-group', :public_key, params[f.object_name.to_sym], @errors do
      = f.label :public_key, t('.public_key'), {class: 'form-control-label'}
      = f.text_area :public_key, {class: 'form-control', rows: 10, value: value_for(:public_key, f)}

    = validation_for 'form-group', :private_key, params[f.object_name.to_sym], @errors do
      = f.label :private_key, t('.private_key'), {class: 'form-control-label'}
      = f.text_area :private_key, {class: 'form-control', rows: 10, value: value_for(:private_key, f)}
      
    = f.submit t('create'), class: 'form-control btn btn-primary'

= render partial: 'layouts/content_wrapper'
