= render partial: 'layouts/header_wrapper', locals: {title: Container.model_name.human(count: 2), buttons: [{title: t('back'), href: application_path(@application), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  - @containers.each do |container|
    .card
      .card-header
        = container.ip_address
        = container.name
        
        - if container.running?
          %span.tag.tag-success.float-xs-right
            = t 'online'
        - else
          %span.tag.tag-danger.float-xs-right
            = t 'offline'
      
= render partial: 'layouts/content_wrapper'
