= render partial: 'layouts/header_wrapper', locals: {title: t('edit_entity', entity: Domain.model_name.human), buttons: [{title: t('back'), href: application_domains_path, class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}
  
  .card
    .card-header
      = @domain.name

      - if !@domain.flags? :primary
        .float-xs-right
          - if @domain.flags? :enabled
            = link_to t('disable'), application_domain_path(@application, @domain, flags: :enabled), method: :patch, class: 'btn btn-sm btn-secondary'
          - else
            = link_to t('enable'), application_domain_path(@application, @domain, flags: :enabled), method: :patch, class: 'btn btn-sm btn-primary'
        
    - if @domain.flags? :enabled
      .card-block
        - if !@domain.flags? :primary
          .card
            .card-header
              = t 'http'

              .float-xs-right
                - if @domain.flags? :http
                  = link_to t('disable'), application_domain_path(@application, @domain, flags: :http), method: :patch, class: 'btn btn-sm btn-secondary'
                - else
                  = link_to t('enable'), application_domain_path(@application, @domain, flags: :http), method: :patch, class: 'btn btn-sm btn-primary'

        .card
          .card-header
            = t 'https'

            .float-xs-right
              - if @domain.flags? :https
                = link_to t('disable'), application_domain_path(@application, @domain, flags: :https), method: :patch, class: 'btn btn-sm btn-secondary'
              - else
                = link_to t('enable'), application_domain_path(@application, @domain, flags: :https), method: :patch, class: 'btn btn-sm btn-primary'

          - if @domain.flags? :https
            .card-block
              - if @application.ssl_certificates.empty?
                .alert.alert-danger.mb-0
                  = t '.no_ssl_certificates_html', {ssl_certificates: SslCertificate.model_name.human(count: 2), href: link_to(t('create_entity', entity: SslCertificate.model_name.human), new_application_ssl_certificate_path)}
              - else
                = form_for :domain, url: application_domain_path(@application, @domain), method: :patch, html: {class: ''} do |f|
                  = validation_for 'form-group', :ssl_certificate, params[f.object_name.to_sym], @errors do
                    = f.label :ssl_certificate, SslCertificate.model_name.human, {class: 'form-control-label'}
                    = f.select :ssl_certificate, options_for_select([''] + @application.ssl_certificates.map{|i| i.name}, selected: @domain.ssl_certificate == nil ? '' : @domain.ssl_certificate.name), {}, {class: form_control_for(:ssl_certificate, params[f.object_name.to_sym], @errors)}

                  = f.submit t('save'), class: 'form-control btn btn-primary'

= render partial: 'layouts/content_wrapper'
