= render partial: 'layouts/header_wrapper', locals: {title: Domain.model_name.human(count: 2), buttons: [{title: t('create'), href: new_application_domain_path, class: 'btn-primary'}, {title: t('back'), href: application_path(@application), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  - @domains.each do |domain|
    .card
      .card-header
        = domain.name
        
        %span.btn-group.btn-group-sm.float-xs-right
          = link_to t('edit'), edit_application_domain_path(@application, domain), class: 'btn btn-warning'
          
          - if !domain.flags? :primary
            = link_to t('delete'), application_domain_path(@application, domain), method: :delete, class: 'btn btn-danger'

= render partial: 'layouts/content_wrapper'
