= render partial: 'layouts/header_wrapper', locals: {title: Database.model_name.human(count: 2), buttons: [{title: t('create'), href: new_application_database_path, class: 'btn-primary'}, {title: t('back'), href: application_path(@application), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  - @databases.each do |database|
    .card
      .card-header
        = database.name
        
        %span.btn-group.btn-group-sm.float-xs-right
          = link_to t('delete'), application_database_path(@application, database), method: :delete, class: 'btn btn-danger'
          
= render partial: 'layouts/content_wrapper'
