= render partial: 'layouts/header_wrapper', locals: {title: t('create_entity', entity: Database.model_name.human), buttons: [{title: t('back'), href: application_databases_path, class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = form_for :database, url: application_databases_path do |f|
    = validation_for 'form-group', :name, params[f.object_name.to_sym], @errors do
      = f.label :name, Database.human_attribute_name(:name), {class: 'form-control-label'}
      .input-group
        .input-group-addon
          = @application.prefix('_', true)
        = f.text_field :name, class: form_control_for(:name, params[f.object_name.to_sym], @errors), value: value_for(:name, f)
            
    = f.submit t('create'), class: 'form-control btn btn-primary'
    
= render partial: 'layouts/content_wrapper'
