= render partial: 'layouts/header_wrapper', locals: {title: t('edit_entity', entity: FtpsAccount.model_name.human), buttons: [{title: t('back'), href: application_ftps_accounts_path, class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  .card
    .card-header
      = @ftps_account.username
    .card-block
      = form_for :ftps_account, url: application_ftps_account_path(@application, @ftps_account), method: :patch do |f|
        = validation_for 'form-group', :password, params[f.object_name.to_sym], @errors do
          = f.label :password, FtpsAccount.human_attribute_name(:password), {class: 'form-control-label'}
          = f.password_field :password, class: form_control_for(:password, params[f.object_name.to_sym], @errors), value: value_for(:password, f)

        = validation_for 'form-group', :password_confirmation, params[f.object_name.to_sym], @errors do
          = f.label :password_confirmation, FtpsAccount.human_attribute_name(:password_confirmation), {class: 'form-control-label'}
          = f.password_field :password_confirmation, class: form_control_for(:password_confirmation, params[f.object_name.to_sym], @errors), value: value_for(:password_confirmation, f)

        = f.submit t('save'), class: ['form-control', 'btn', 'btn-primary']

= render partial: 'layouts/content_wrapper'
