= render partial: 'layouts/header_wrapper', locals: {title: FtpsAccount.model_name.human(count: 2), buttons: [{title: t('create'), href: new_application_ftps_account_path, class: 'btn-primary'}, {title: t('back'), href: application_path(@application), class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = render partial: 'others/alerts', locals: {alerts: @alerts}

  - @ftps_accounts.each do |ftps_account|
    .card
      .card-header
        = ftps_account.username
      
        %span.btn-group.btn-group-sm.float-xs-right
          = link_to t('edit'), edit_application_ftps_account_path(@application, ftps_account), class: ['btn', 'btn-warning']
          = link_to t('delete'), application_ftps_account_path(@application, ftps_account), method: :delete, class: ['btn', 'btn-danger']

= render partial: 'layouts/content_wrapper'
