= render partial: 'layouts/header_wrapper', locals: {title: t('create_entity', entity: FtpsAccount.model_name.human), buttons: [{title: t('back'), href: application_ftps_accounts_path, class: 'btn-secondary'}]}
        
- content_for :content_wrapper_content do
  = form_for :ftps_account, url: application_ftps_accounts_path do |f|
    = validation_for 'form-group', :username, params[f.object_name.to_sym], @errors do
      = f.label :username, FtpsAccount.human_attribute_name(:username), {class: 'form-control-label'}
      .input-group
        .input-group-addon
          = @application.prefix('_', true)
        = f.text_field :username, class: form_control_for(:username, params[f.object_name.to_sym], @errors), value: value_for(:username, f)

    = validation_for 'form-group', :password, params[f.object_name.to_sym], @errors do
      = f.label :password, FtpsAccount.human_attribute_name(:password), {class: 'form-control-label'}
      = f.password_field :password, class: form_control_for(:password, params[f.object_name.to_sym], @errors), value: value_for(:password, f)

    = validation_for 'form-group', :password_confirmation, params[f.object_name.to_sym], @errors do
      = f.label :password_confirmation, FtpsAccount.human_attribute_name(:password_confirmation), {class: 'form-control-label'}
      = f.password_field :password_confirmation, class: form_control_for(:password_confirmation, params[f.object_name.to_sym], @errors), value: value_for(:password_confirmation, f)

    = f.submit t('create'), class: ['form-control', 'btn', 'btn-primary']

= render partial: 'layouts/content_wrapper'
