.container
  .row
    .col-xs-4
      %ul.list-group
        %li.list-group-item
          = link_to t('dashboard'), application_path(@application)
      %ul.list-group.mt-1
        %li.list-group-item
          = link_to FtpsAccount.model_name.human(count: 2), application_ftps_accounts_path(@application)
        %li.list-group-item
          = link_to Domain.model_name.human(count: 2), application_domains_path(@application)
        %li.list-group-item
          = link_to SslCertificate.model_name.human(count: 2), application_ssl_certificates_path(@application)
          
      %ul.list-group.mt-1
        %li.list-group-item
          = link_to DatabaseUser.model_name.human, application_database_user_path(@application, @application.database_user)
        %li.list-group-item
          = link_to Database.model_name.human(count: 2), application_databases_path(@application)
        %li.list-group-item
          = link_to 'PHPMyAdmin', '/phpmyadmin', target: '_blank'

      = yield :content_wrapper_menu
      -#%ul.list-group.mt-1
        %li.list-group-item
          = link_to t('.applications'), '#'

        %li.list-group-item
          = link_to t('.file_browser'), '#'

    .col-xs-8
      = yield :content_wrapper_content
