.container.pt-1
  .row
    .col-xs-8
      %h2
        = title
    .col-xs-4
      .btn-group.float-xs-right
        - buttons.each do |button|
          = link_to button[:title], button[:href], class: ['btn', button[:class]]
