%nav.navbar.navbar-light.bg-faded
  .container
    = link_to 'camino', '#', class: 'navbar-brand'

    %ul.nav.navbar-nav.float-xs-right
      %li.nav-item
        = link_to t('greeting', username: session_manager.account.username), '#', class: 'nav-link active'
      %li.nav-item
        = link_to t('sign_out'), 'https://account.juteel.com/signout', class: 'nav-link'
